{# strain list #}

{% extends "layout/html.html" %}

{% block body %}

<h1>Strains</h1>

<form>
<div class="input-group mb-4">
	<input class="form-control" name="q" placeholder="Search.." value="{{ search_page.q }}">
	<div class="input-group-append">
		<button class="btn btn-outline-success"><i class="fa fa-search"></i> Search</button>
	</div>
</div>
</form>

<div>
<div class="btn-group">
	<a class="btn btn-outline-secondary disabled" style="width:6em;">Strains:</a>
{% for k,v in search_pick %}
	<a class="btn btn-outline-secondary" href="/search?q={{ k|url_encode }}" title="Strains starting with {{ k }} ({{ v }})">{{ k }}</a>
{% endfor %}
</div>
</div>

<div>
<div class="btn-group">
	<a class="btn btn-outline-secondary disabled" style="width:6em;">Pages:</a>
{% if search_page.max > 18 %}

	<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ max(1, search_page.cur - 1) }}"><i class="fa fa-arrow-left"></i></a>

	{% for i in 1..3 %}
		<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ i }}">{{ i }}</a>
	{% endfor %}

	<!--
	{% for i in 1..search_page.max %}
		<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ loop.index }}">p{{ loop.index }}</a>
	{% endfor %}
	-->

	{% set min = max(4, search_page.cur - 6) %}
	{% set max = min(min + 12, search_page.max) %}
	{% for i in min..max %}
		<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ i }}">{{ i }}</a>
	{% endfor %}

	{% set min = max %}
	{% set max = search_page.max %}
	{% for i in min..max %}
		<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ i }}">{{ i }}</a>
	{% endfor %}

	<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ search_age.cur + 1 }}"><i class="fa fa-arrow-right"></i></a>

{% else %}
	{% for i in 1..search_page.max %}
		<a class="btn btn-outline-secondary" href="/search?q={{ search_page.q }}&amp;p={{ i }}">{{ i }}</a>
	{% endfor %}
{% endif %}
</div>
</div>


<div class="table-responsive mt-4">
<table class="table table-sm table-hover">
<thead>
<tr>
	<th>Strain</th>
	<th>Type</th>
	<th>Validity</th>
	<th>Stub</th>
</tr>
</thead>
<tbody>
{% for strain in search_data %}

	<tr>
	<td><a href="/strain/{{ strain.stub }}">{{ strain.name }}</a></td>
	<td>{{ strain.type }}</td>
	<td>{{ strain.vote }}</td>
	<td>{{ strain.stub }}</td>
	</tr>

{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
